* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fdfdfd;
}

.opening {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(#00000077, #00000077),
    url("./images/ubc.jpg");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.opening-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.myphoto {
  width: 221px;
  border: 5px inset red;
  border-radius: 150px;
  text-align: center;
}

.my-name {
  display: inline-block;
  font-size: 40px;
  font-weight: 100;
  color: white;
  letter-spacing: 3px;
}

.college,
.major {
  display: inline-block;
  font-size: 20px;
  font-weight: 100;
  color: white;
}

.opening-nav {
  display: flex;
  width: 675px;
  justify-content: space-between;
}

.opening-nav a:link,
.opening-nav a:visited {
  font-size: 20px;
  font-weight: 100;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px 15px;
}

.opening-nav a:hover {
  border: 1px solid red;
  color: red;
  transition: 0.5s;
}

.section-container {
  padding-bottom: 40px;
  border-bottom: 2px solid #00000011;
}

.section-title {
  width: fit-content;
  margin: 40px auto;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 1px;
  border-bottom: 3px solid red;
}

.project-list {
  width: 1080px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 320px 320px 320px;
  grid-template-rows: 400px 400px;
  justify-content: space-between;
  row-gap: 55px;
}

.project-item {
  background-color: #f2f2f2;
  position: relative;
  box-shadow: 0px 0px 3px #00000077;
}

.project-item:hover {
  box-shadow: 4px 6px 3px #00000077;
  transition: 0.2s;
  cursor: pointer;
  background-color: #ff000011;
}

.view-more {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000aa;
  height: 180px;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  display: none;
  color: white;
}

.project-item:hover .view-more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-item img {
  width: 100%;
  height: auto;
}

.project-title {
  font-size: 25px;
  font-weight: 100;
  padding-bottom: 2px;
  margin: 12px 10px;
  border-bottom: 2px solid red;
  width: fit-content;
}

.tech-used {
  font-size: 16px;
  font-weight: 100;
  margin: 0 10px;
  margin-bottom: 8px;
}

.project-description {
  font-size: 16px;
  font-weight: 100;
  margin: 0 10px;
  margin-bottom: 5px;
  line-height: 1.4;
}

.experience-list {
  width: 1080px;
  margin: 0 auto;
}

.experience-list-item {
  background-color: #f2f2f2;
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.experience-description {
  width: 850px;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 100;
  padding: 10px;
}

.item-number {
  border-radius: 50px;
  padding: 2px 7px;
  color: white;
  background-color: red;
  font-size: 18px;
  font-weight: 100;
}

.experience-title {
  width: 150px;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
}

ul {
  margin-left: 20px;
  margin-top: 8px;
  list-style: square;
}

.spaced-list {
  margin-bottom: 8px;
}

.gpa {
  width: 480px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #00000011;
}

.gpa h4 {
  text-align: center;
  width: 160px;
  font-size: 25px;
  font-weight: 100;
}

.gpa h4:nth-child(2) {
  width: 50%;
}

.coursework .gpa:nth-child(3) {
  border-top: none;
  padding: 10px;
  margin-bottom: 40px;
}

.course-list {
  width: 1080px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 320px 320px 320px;
  grid-template-rows: 320px 320px;
  justify-content: space-between;
  row-gap: 55px;
}

.course-item {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 3px #00000077;
}

.course-item h2 {
  font-size: 25px;
  font-weight: 100;
  padding-bottom: 2px;
  margin: 12px 10px;
  width: fit-content;
}

.course-item p {
  font-weight: 100;
  padding-bottom: 2px;
  margin: 12px 10px;
  font-size: 16px;
}

.course-item h3 {
  font-weight: 100;
  padding-bottom: 2px;
  margin: 12px 10px;
  font-size: 16px;
  margin-bottom: 5px;
  line-height: 1.4;
}

.course-item:hover {
  cursor: pointer;
  box-shadow: 4px 6px 3px #00000077;
  background-color: #ff000011;
}

.awards {
  width: 400px;
  margin: 40px auto;
  text-align: center;
}

.awards h4 {
  font-size: 18px;
  font-weight: 100;
  border-bottom: 2px solid red;
  display: inline-block;
}

.awards li {
  list-style: none;
}

.awards ul li {
  line-height: 1.4;
}

.about-box {
  display: flex;
  width: 1080px;
  margin: auto;
  padding: 0 30px 40px 30px;
  align-items: center;
  justify-content: space-between;
}

.image-viewer {
  width: 52%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 450px;
  position: relative;
}

.landscape {
  width: 100%;
  height: auto;
}

.portrait {
  width: auto;
  height: 100%;
}
.about-text p {
  width: 100%;
  font-weight: 100;
  padding-bottom: 2px;
  font-size: 18px;
  line-height: 1.4;
}

.about-text {
  width: 44%;
}

.about-box h1 {
  margin-bottom: 10px;
  font-weight: 100;
  font-size: 30px;
}

.about-image-description {
  position: absolute;
  left: 0;
  bottom: 80px;
  color: white;
  background-color: #00000077;
  text-align: center;
  width: 100%;
  font-size: 18px;
}

.next-image {
  color: white;
  background-color: #00000066;
  width: 50px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.next-image:hover {
  background-color: #000000aa;
  cursor: pointer;
}

.next-image:hover p {
  color: #ffffff;
  font-weight: 200;
}

.next-image p {
  font-size: 30px;
  font-weight: 100;
  color: #ffffffaa;
}

.prev-image {
  color: white;
  background-color: #00000066;
  width: 50px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.prev-image:hover {
  background-color: #000000aa;
  cursor: pointer;
}

.prev-image:hover p {
  color: #ffffff;
  font-weight: 200;
}

.prev-image p {
  font-size: 30px;
  font-weight: 100;
  color: #ffffffaa;
}

/*.invisible {
  background-color: #00000000;
}

.invisible p {
  color: #00000000;
}

.invisible:hover {
  cursor: default;
  background-color: #00000000;
}

.invisible:hover p {
  color: #00000000;
}*/
